@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* index.css */
html, body, #root {
  height: 100%;
}


/* Hide scrollbar in all browsers */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.active{
  color: aliceblue;
  transition: .5s;
}


.tooltip-active::after {
              content: "";
              position: absolute;
              bottom: -6px;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 0;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
              border-top: 6px solid #16a34a; /* green-600 */
}

/* hide scrollbar width but keep scroll behavior */
/* Chrome, Safari, Edge (WebKit browsers) */
.hide-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px; /* If you also want horizontal scrolling */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* or set a color if you want a visible thumb */
}

/* Firefox */
.hide-scrollbar {
  scrollbar-width: thin; /* makes it 2px or close */
  scrollbar-color: transparent transparent; /* thumb and track */
}

/* IE 10+ */
.hide-scrollbar {
  -ms-overflow-style: none; /* completely hides scrollbar */
}
